:root {
  --gunmetal: #2b303a;
  --non-photo-blue: #92dce5;
  --lavender-blush: #eee5e9;
  --gray: #7c7c7c;
  --chili-red: #d64933;

  --liver: #6b4b3e;
  --lion: #c49e85;
  --light-orange: #ffd6af;
  --ghost-white: #f8f4f9;
  --wisteria: #bea7e5;
}

.App {
  font-family: sans-serif;
  display: grid;
  grid-template-areas: 
    "navbar main"
    "footer footer"; 
  grid-template-rows: 95vh 5vh;
  grid-template-columns: 170px 1fr;

  column-gap: 10px;
  background-color: #6B4B3E;
  overflow: hidden;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
  padding-right:10px;
}

.footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--ghost-white);
  background-color: var(--gunmetal)
}

h2, p, div, span, button, a {
  color: var(--light-orange)
}

h1 {
  color: var(--lavender-blush)
}


button {
  background-color: var(--gunmetal);
  color: var(--ghost-white);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

input {
  background-color: #00000000;
  border-radius: 5px;
  border: 2px solid var(--lion);
  color: var(--wisteria)
}

input::placeholder {
  color: var(--light-orange);
}

.login {
  grid-area: main;
  display: grid;
  justify-content: center;
  align-content: center;
}
